body {
    display: flex;
    flex-direction: column;

}

.header-content {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
}

#nav {
    display: flex;
}

.header {
    display: flex;
}