body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
}

.nav-links {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 20px;
    margin-right: 8px;
}

.header-content {
    padding-bottom: 64px;
    flex-grow: 1;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.header {
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

p {
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.signup-button {
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.rc-car {
    width: 600px;
    height: auto;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    list-style: none;
    column-gap: 16px;
}

.info-box {
    max-width: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info-pic {
    width: 250px;
    height: 250px;
    border: solid 2px #3882F6;
    border-radius: 8px;
}

.info-text {
    color: black;
}

.quote-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.signup-content {
    flex-grow: 1;
    background-color: blueviolet;
}
.signup-box {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 48px;
    margin: 64px 128px 64px 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    flex-grow: 1;
    background-color: #1F2937;
    padding: 16px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}